/*
 * Copyright (C) 2011 Google Inc. All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS''
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */

.results-view ul.actions {
    float: right;
    margin: 0;
    padding: 5px 0px;
    list-style: none;
    display: inline-block;
}

.results-view ul.actions li {
    display: inline-block;
}

.results-view h3 ul.actions {
    padding: 2px 0px;
}

.results-view h3 ul.actions {
    visibility: hidden;
}

.results-view h3.ui-state-active ul.actions {
    visibility: visible;
}

.ui-tabs .ui-tabs-panel.results-detail {
    padding: 0px;
}

.results-grid table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.results-grid table td, .results-view table th {
    overflow: hidden;
    vertical-align: top;
}

.results-grid table th {
    padding: 3px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.results-grid .text-result {
    border: none;
    width: 100%;
    height: 400px; /* FIXME: How do we get a reasonable height here? */
}

.results-grid .image-result {
    width: 100%;
    height: auto;
}
